{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{% block title %}{{ 'page.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('global') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script>
        // Write js errors to the body.
        window.onerror = function (msg, url, lineNo, columnNo, error) {
            var message = [
                'Message: ' + msg,
                'URL: ' + url,
                'Line: ' + lineNo,
                'Column: ' + columnNo,
                'Error object: ' + JSON.stringify(error)
            ].join(' - ');
            var span = document.createElement('span');
            span.style.display = 'none';
            span.classList.add('js-error');
            span.innerText = message;
            document.body.appendChild(span);
        };
    </script>
</head>
<body>
<div class="container">

    <div class="content">
        <div class="page-header container-fluid">
            <img class="pull-right logo" src="{{ asset('build/images/header-logo.png') }}"/>
            <h1>{% block header_title %}{{ 'page.title'|trans }}{% endblock %}</h1>
        </div>
    </div>


    <div class="main-content">
        {% if app.environment == 'dev' %}
            <div class="navigation-container">
                <div class="navigation">
                    {% for route in ['homepage', 'gssp_saml_metadata'] %}
                        {% set translatekey = "page.navigation.route." ~ route %}
                        <a href="{{ path(route) }}" {% if current_route == route %} class='active'{% endif %}>{{ translatekey|trans }}</a>
                    {% endfor %}
                    <a href="{{ path('sp_demo') }}" {% if current_route == 'sp_demo' %} class='active'{% endif %}>{{ 'page.navigation.route.sp_demo'|trans }}</a>
                </div>
            </div>
        {% endif %}

        {# stepup-gssp-bundle and stepup-tiqr use 'body' #}
        {% block body %}{% endblock %}

        {# stepup-bundle 'content', don't bother, just define them both #}
        {% block content %}{% endblock %}
    </div>

    <hr>

    {% block footer %}
        <footer>
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{{ global_view_parameters.supportUrl }}" target="_blank">Help</a>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
